body{
  margin: 0;
  
}

/* Navbar styles */
.navbar{
  background: black;
  color: darkgoldenrod;
}
.navbar-brand{
  background-color: black;
  color: aquamarine !important;
  font-family: fantasy;
  padding: 0px 0px;
  border: 2px green dotted;
  border-radius: 50%;
  box-shadow: 2px 1px 1px 4px gray; 
}
.nav-link,.sign{
  background-color: blue;
}

.nav-link .log{
  font-weight: bolder;
}

.form-control::placeholder{
  color: darkgoldenrod;
  font-weight: bold;
}
.navbar.hide{
  visibility: collapse;
  }

/* Small navbar styles begins here */

.smallNavbar{
  background-color: black;
}

.snavbar{
  background: linear-gradient(rgb(84, 82, 82), darkgray );
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  border-radius: 20%;
  visibility: visible;

}
.snavbar.hide{
  visibility: hidden;
}
.snavbar button{
  background-color: rgb(22, 22, 86);
  color: white;
  padding: 2px 10px;
  border-radius: 7px;
  box-shadow: 1px 1px 1px 1px blue;
  font-weight: bold;
}
.snavbar .help{
  background-color: brown;
  font-weight: lighter;
}

/* Styles for image gallery starts here */
.main-flex-container{
  background: white;
}
.trans-effect0{
  transition: background 2.5s ease;
}

.option-container{
  width: 100%;
  margin: auto;
  border-radius: 10px;
  background: radial-gradient(whitesmoke, whitesmoke, gray,whitesmoke, white);
  box-shadow: 4px 4px 4px 4px gray;
  height: 0vh;
    
}
.trans-effect1{
  transition: width 1s ease, height 1s ease;
}

.brand-container{
  background: radial-gradient(blue, black, whitesmoke);
  height:10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.brand-container,.bran{
  background-color: black;
  color: aquamarine !important;
  font-family: fantasy;
  padding: 4px 13px;
  border: 2px green dotted;
  border-radius: 50%;
  box-shadow: 2px 1px 1px 4px gray; 
}
.brand-container .fa-solid{
  background-color: red;
  padding: 3px 10px;
  font-size: xx-large;
  color: white;
  cursor: pointer;
  border: solid black;
  border-radius: 50%;
}
.brand-container .fa-solid:hover{
  color: black;
  border: solid white;
  transform: translate(1.5);
}


.opt-container h4{
  background: linear-gradient(black, rgb(52, 38, 38));
  color: aquamarine;
  font-weight: bolder;
  font-family: monospace;
  text-align: center;
  width: 30%;
  margin: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px whitesmoke;
}
.opt-container ul{
  padding: 15px 35px;
}
.opt-container ul li{
  list-style: none;
  padding: 20px 0px;
  color: black;
  font-weight: bolder;
  box-sizing: border-box;
  text-align: center;
  font-size: 25px;
  font-family: 'Helvetica Neue'; 
} 
.opt-container p{
  color: black;
  text-align: center;
  font-size: 15px;
}

.losi-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 70px;
  
}
.losi-container a{
  text-decoration: none;
  background: linear-gradient(aquamarine, black, black, aquamarine);
  padding: 10px;
  font-weight: bolder;
  color: white;
  border: solid;
  border-radius: 30%;
  box-shadow: 2px 2px 1px 1px gray;
  margin-bottom: 30px;
}


.container-body{
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content: center;
  /* background-color: black; */
  background-image: url('https://media.istockphoto.com/id/1487972668/photo/artificial-neural-network-abstract-technology-background.jpg?s=612x612&w=0&k=20&c=wRn-JFyd8-boqUj91IT2n9vphiINAevPA6sUbqycd6c=');
  background-repeat: no-repeat;
  background-size: cover;
  /* background: radial-gradient(circle, red, blue); */
  
  overflow: hidden;

}
.image-container{
  position: relative;
  width: 300px; 
  height: 280px; 
  transform-style: preserve-3d; 
  transform: perspective(1000px) rotateY(0deg); 
  transition: transform 1s;

}

.image-container span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotateY(calc(var(--i)*90deg)) translateZ(400px);

}
.image-container h4{
  background-color: black;
  color: aquamarine;
  padding: 5px;
  position: relative;
  top: 175px;
  box-shadow: 1px 2px 4px 1px;
  border-radius: 30%;
}
.image-container h4:hover{
  background-color: darkblue;
  color: white;
}
.image-container a{
  text-decoration: none;
  color: black;
}
.image-container img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.btn-container{
  position: relative;
  width: 80%;
  /* justify-content: space-between; */
}
.btnn{
  position: absolute;
  bottom: -80px;
  background-color: black;
  color: aquamarine;
  box-shadow: 1px 2px 3px 3px white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
}
.btn:hover{
  filter: brightness(1.5);
}
#prev{
  left: 20%;
}
#next{
  right: 20%;
}
/* styles for image gallery ends here */


/* styles for small image container begins */
.simgContainer{
  display: flex;
  /* align-items: center;
  overflow: hidden; */
}
.simgContainer img{
  flex-basis: 33.333%;
  height: 50vh;
  width: 33.333%;

}


/* Styles for card container */

.card-container{
  width: 100%;
  height: 80;
  background: linear-gradient(black, indigo );

}
.card{
  height: 400px;
}
.card img{
  height: 250px;
  width: 358px;
}

.buflex{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* Styles for about us begins here */
.imgContainer{
  display: flex;
  align-items: center;
  overflow: hidden;
}
.imgContainer img{
  width: 33.333%;
  height: 400px;
}

.abHead{
  background: linear-gradient(skyblue, darkgoldenrod);
  padding: 40px;
  margin-top: 0px;
  text-align: center;
  font-family: fantasy;
  letter-spacing: 8px;
  font-size: 45px;
  margin-bottom: 0px;
}

.aboutContainer h4{
  background-color: black;
  color: darkgoldenrod;
  text-align: center;
  padding: 10px 0px;
  width: 70%;
  margin: auto;
  font-size: 25px;
  border-radius: 50%;
}

.aboutContainer{
  margin-top: 0px;

  background: linear-gradient(slateblue, black);
}
.aboutContainer p{
  width: 60%;
  margin: auto;
  padding: 20px;
  font-size: 30px;
  color: white;

}
.offerContainer h4{
  background-color: black;
  color: darkgoldenrod;
  text-align: center;
  padding: 10px 0px;
  width: 70%;
  margin: auto;
  font-size: 25px;
  border-radius: 50%;

}
.offerContainer{
  margin-top: 0px;

  background: linear-gradient(slateblue, black);
  padding-bottom: 30px;
}
.offerContainer p{
  width: 60%;
  margin: auto;
  padding: 20px;
  font-size: 30px;
  color: white;
}

.offerContainer .fa-solid,.fa-brands{
  color: darkgoldenrod;
  padding: 10px;

}
.offerContainer div{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  align-items: center;
}
.offerContainer button{
  background-color: black;
  color: darkgoldenrod;
  font-weight: bolder;
  padding: 15px 7px;
  margin: 0px 5px;
  box-shadow: 1px 1px 8px 1px white;
  border-radius: 15px;
  

}
.pseudoContainer h1{
  background: linear-gradient(skyblue, darkgoldenrod);
  padding: 40px;
  margin-top: 0px;
  text-align: center;
  font-family: fantasy;
  letter-spacing: 8px;
  font-size: 45px;
  margin-bottom: 0px;
}
/* style for about us ends here */


/* footer styles begins here */
.footer-container{
  background-color: black;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.footer-flex{
  display: flex;
  justify-content: space-around;
  padding: 5rem;
}
h3{
  color: darkgoldenrod;
}
.footer-flex ul li{
  list-style: none;
  padding: 0.5rem 0;
  
}
.footer-flex ul li a{
  text-decoration: none;
  color: white;
  font-family: serif;
}
.footer-flex ul li a:hover{
  color: darkgoldenrod;
}

.fomeflex{
  padding: 1rem;
  font-size: 25px;
}
.fomeflex,.fa-brands{
  padding: 5px;
}
h6{
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 15px;
}



/* Mobile Responsiveness */
@media only screen and (max-width: 1090px){
  /* CSS rules for screens smaller than 1090px */
  .losi-container a{
    text-decoration: none;
    background: linear-gradient(aquamarine, black, black, aquamarine);
    padding: 5px;
    font-weight: bold;
    color: black;
    border: white solid;
    border-radius: 30%;
    box-shadow: 2px 2px 1px 1px;
}
.opt-container p{
  background-color: black;
  color: black;
  text-align: center;
  font-size: 15px;
}
}
@media only screen and (max-width: 500px){
  .opt-container p{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 10px;
  }
  .losi-container a{
    text-decoration: none;
    background: linear-gradient(aquamarine, black, black, aquamarine);
    padding: 3px;
    font-weight: lighter;
    color: white;
    border: white solid;
    border-radius: 30%;
    box-shadow: 1px 1px 0.5px 0.5px;
}
.opt-container ul li{
  list-style: none;
  padding: 5px 0px;
  color: black;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  font-size: 10px;
  font-family: 'Helvetica Neue'; 
}
.opt-container h4{
  background: linear-gradient(black, rgb(52, 38, 38));
  color: aquamarine;
  font-weight: bolder;
  font-family: monospace;
  text-align: center;
  width: 40%;
  margin: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px whitesmoke;
} 

}
@media only screen and (max-width: 699px){
  .opt-container p{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 6px;
  }
  .losi-container a{
    text-decoration: none;
    background: linear-gradient(aquamarine, black, black, aquamarine);
    padding: 3px;
    font-weight: lighter;
    color: white;
    border: white solid;
    border-radius: 30%;
    box-shadow: 1px 1px 0.5px 0.5px;
}
.opt-container ul li{
  list-style: none;
  padding: 10px 0px;
  color: black;
  font-weight: bold;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
  font-family: 'Helvetica Neue'; 
} 
.opt-container h4{
  background: linear-gradient(black, rgb(52, 38, 38));
  color: aquamarine;
  font-weight: bolder;
  font-family: monospace;
  text-align: center;
  width: 50%;
  margin: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px whitesmoke;
}

}