:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --tnav-color: #ffff00;
  --bnav-color: #77770d;
  --form-background-image: url('https://images.pexels.com/photos/4194850/pexels-photo-4194850.jpeg');
  --form2-background-image: url('https://images.pexels.com/photos/6402532/pexels-photo-6402532.jpeg');
  --form-padding: 2rem;
  --form-magging: 3rem;
  --form-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  --form2-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}